#cabecera {
    padding: 10px;
    width: 1400px;   
    margin: 0 auto 0 auto;
    border: 10px solid #468B78;
    border-radius: 20px 20px 0 0;
    background-color: #0E5441;
    text-align: center;

}
i{
    float: right; 
    margin-top: -63px; 
    margin-right: 50px; 
    color: white;
}

h1{
 color: white;
}
img{
    width: 100px;
     height: 80px; 
     float: left;
}